/* Hide all sections and the ones coming after section:target  */
section,
section:target ~ section:last-of-type {
  height: 0;
  overflow: hidden;
}

/* Show section:target and last section (TOC) by default */
section:target,
section:last-of-type {
  height: auto;
  overflow: visible;
  scroll-margin-top: 999em; /* magic? */
}

/* Possible fix for page search, selection? */
section,
section *,
section:target ~ section:last-of-type,
section:target ~ section:last-of-type * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
}

section:target,
section:target *,
section:last-of-type,
section:last-of-type * {
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  pointer-events: auto;
}

/* Sorry, no focus-visible because Safari */
section:focus {
  outline: 0;
}

/* Disable footnote #links */
sup a {
  color: currentColor;
  pointer-events: none;
}
